%% -*- erlang -*-
{erl_opts, [fail_on_warning,
            debug_info]}.
{deps,
 [{meck, ".*",
   {git, "https://github.com/UnisonPublic/meck.git", "master"}},
  {statebox, ".*",
   {git, "https://github.com/UnisonPublic/statebox.git", "master"}},
  {riakc, ".*",
   {git, "https://github.com/UnisonPublic/riak-erlang-client.git", "master"}}]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
